{% extends "base.html" %}



{% block content %}



<div class = "row">
	<div class = "col-sm-8 col-sm-offset-2">

	{% if empty %}

	<h1>{{message}}</h1>

	{% else %}

		<table class = 'table'>
		<thead>
			<th>Item</th>
			<th>Price</th>
		</thead>
		<tfoot>
		<tr>
		<td></td>
		<td>Total: {{ cart_items.total }}</td>
		</tr>
		</tfoot>
		{% for item in cart_items.products.all %}
		<tr><td>{{item}}</td>
		<td>{{item.price}}</td><td><a href = '{% url "update_cart" item.slug %}'>Remove</a></td></tr>
		{% endfor %}
		</table>
	{% endif %}
	</div>
</div>


{% endblock %}
