{% extends "base.html" %}

{% block content %}
 
 {{ single_product.description }}

 {% for img in images %}

 		{% if img.featured %}
	 		<div class="col-xs-12 col-md-6">
	 			<h1>Featured</h1>
				<img class='img-responsive' src="{{ MEDIA_URL }}{{ img.image }}" />
			<br/>
			<div class="col-xs-6 col-md-3">
				<a href="#" class="thumbnail">
      			<img class='img-responsive' src="{{ MEDIA_URL }}{{ img.image }}">
    			</a>
    		</div>
    	</div>
    	{% else %}
    	<div class="col-xs-12 col-md-6">
	 			<h1>Not featured</h1>
				<img class='img-responsive' src="{{ MEDIA_URL }}{{ img.image }}" />
		</div>
  		{% endif %}
{% endfor %}
	<div class='col-sm-8'>
	 <h1>{{ single_product.title }} <a href='{% url "update_cart" single_product.slug %}' class='pull-right'>Add to Cart</a></h1>
	 <hr/>
	 Price: {{ single_product.price }} <br/>
	 Shipping: Free with $25+ purchase.
	 <hr/>
	{{ single_product.description|linebreaks }}
	</div>
{% endblock %}